#footer-content {
  display: flex;
  justify-content: space-between;
}
footer {
  border-top: 1px solid #eee;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
#footer-content div p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: #767676;
}
#footer-content div a p:hover {
  color: #4EC9B0;
}
#footer-content img:hover {
  opacity: 0.8;
}
footer img {
  width: 1.5em;
}
#footer-center {
  display: flex;
  justify-content: space-between;
  width: 6em;
}
