#header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Courier New", monospace;
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
#home-link:hover {
  color: black;
}
#home-link:hover span {
  color: #4EC9B0;
}
