body {
  padding: 0 35px 0 35px;
  overflow-y: scroll;
}
p, h2, h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.accent {
  color: #4EC9B0;
}
.keyword {
  color: #C586C0;
}
#main-content {
  display: flex;
  flex-wrap: wrap;
}
#code-container {
  min-width: 900px;
  width: 60%;
  flex-grow: 1;
}
#code-container h3, #test-output h3 {
  display: inline-block;
  margin-right: 10px;
}
#test-output {
  margin-left: 10px;
  min-width: 575px;
  width: 38%;
  flex-grow: 1;
  margin-left: 15px;
}
#employment-status {
  padding: 5px;
  color: white;
  background-color: #4EC9B0;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #4EC9B0;
}
pre {
  font-size: 11pt;
}
