body {
  padding: 0 35px 0 35px;
}

#header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Courier New", monospace;
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
}

p, h2, h3 {
  font-family: sans-serif;
}
.accent {
  color: #A2E0C1;
}
.keyword {
  color: #C586C0;
}

#main-content {
  display: flex;
  flex-wrap: wrap;
}
#code-container {
  width: 60%;
  min-width: 908px;
  flex-grow: 1;
}
#test-output {
  margin-left: 10px;
  min-width: 575px;
  width: 38%;
  flex-grow: 1;
}
#test-output h3 {
  margin-left: 10pt;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #A2E0C1;
}
#resume {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#resume img {
  width: 100%;
}
#bio {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
pre {
  font-size: 11pt;
}
